
@font-face {
    font-family: Rick;
    src: url('get_schwifty.ttf');
}

html {
    background-color: black;
}
.column {
    background-color: black;
    background-image: url(imgs/portal.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 90%;
}

.centerme

#home {
    position: relative;
    border-bottom: 1px solid rgb(8, 250, 0);
}
.navbar {
    background-color: black;
}

#nav {
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(8, 250, 0);
    width: 100%;
    z-index: 9999;
}

#characters {
    width: 100%;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

h1 {
    font-family: Rick;
    color: rgb(8, 250, 0);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#page {
    background-color: black;
}

.parent {
    position: relative;
    top: 80.25px;
    display: table;
    width: 100%;
    background-color: black;
}
#home #characters{
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid rgb(8, 250, 0);;
}

th, td {
    color:white;
}

#row:hover {
    background-color: rgba(8, 250, 0, 0.788);
}

#row1:hover{
    background-color: white;
}

#row1 > td, #locHead > th, #pNum > p{
    color: black;
}

.pagination > li > a {
    background-color: black;
    border: 1px solid rgb(8, 250, 0);
    color: rgb(8, 250, 0);
}

.pagination > li > a:hover {
    border: 1px solid rgb(8, 250, 0);
    color: black;
}

.hidden {
    visibility: hidden;
}

#locations {
    background-color: rgb(8, 250, 0);
}

#black {
    color: black;
}

.pagination2 > li > a {
    background-color: rgb(8, 250, 0);
    border: 1px solid black;
    color: black;
}

.pagination2 > li > a:hover {
    border: 1px solid black;
    color: black;
}

#locHead {
    border-top: 1px solid black;
}